html {
  font-family: noto-sans-cjk-jp, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 100%;
  color: #494645;
}

body {
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: #abdbe1;
  text-align: center;
}

.fadein {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
}

h2 {
  letter-spacing: 10px;
}


/*ファーストビュー設定*/

.first_view img {
  max-width: 100vw;
}

.first_view img[name="anima"] {
  animation: animationf 9s 1;
  animation-fill-mode: forwards;
}

.first_view img[name="delay"] {
  animation: animationd 9s 1;
}

.first_view img[name="rupe"] {
  animation: animationr 10s 1;
}

@keyframes animationf {
  0% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes animationd {
  0% {
    opacity: 0;
  }

  96% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes animationr {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.first_view img:nth-of-type(1) {
  position: relative;
  margin: 0 auto;
}

.first_view img:nth-of-type(2),
.first_view img:nth-of-type(3),
.first_view img:nth-of-type(4),
.first_view img:nth-of-type(5) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}


/*ナビ設定*/

header {
  position: fixed;
  margin: auto;
  z-index: 100;
  width: 100%;
  height: 80px;
  font-size: calc(100% + 0.5vw);
  top: 0;
  left: 0;
  display: block;
  vertical-align: baseline;
  line-height: 30px;
}

nav li {
  position: relative;
  display: inline-block;
}

.logo {
  position: absolute;
  top: 15px;
  left: 15px;
  max-width: 82px;
  width: 15%;
}

nav li {
  letter-spacing: 10px;
  margin: 0 40px 0;
  color: #494645;
}

nav li::after {
  position: absolute;
  bottom: 2px;
  left: 0px;
  content: '';
  width: 95%;
  height: 2px;
  background: #fff;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform 0.3s;
}

nav li:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
  color: #494645;
}

nav ul li a:link {
  text-decoration: none;
  color: #494645;
}

nav ul li a:visited {
  color: #494645;
}

nav ul li a:hover {
  color: #fff;
}

.menu_button_text {
  visibility: hidden;
}

/*トップボタン*/

#toppage {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
}


/*index_work*/

#work {
  padding-top: 100px;
  margin-top: -100px;
  margin-bottom: 100px;
}

.work {
  padding: 0% 15%;
}

td {
  position: relative;
  overflow: hidden;
  margin-top: 50px;
}

td img {
  max-width: 400px;
  max-height: 300px;
}

figcation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  max-width: 400px;
  width: 100%;
  height: 97%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

td:hover figcation {
  opacity: 1;
}

td figcation p {
  color: #fff;
  font-size: 300%;
  margin: 5%;
  padding: 5%;
  padding-top: 15%;
  padding-bottom: 13%;
  border: 2px solid #fff;
}

td figcation p[name="double"] {
  padding-top: 7%;
  padding-bottom: 4%;
}

tr {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
}


/*index_about*/

#about {
  padding-top: 100px;
  margin-top: -100px;
  margin-bottom: 100px;
}

.btn-border-bottom,
.mail {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0;
  text-decoration: none;
  color: #c38171;
}

.btn-border-bottom:before,
.mail:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top: 100%;
  left: 0;
  border-radius: 3px;
  background: #c38171;
  transition: .2s;
}

.btn-border-bottom:hover:before,
.mail:hover:before {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}

.about img,
.contact img {
  background-color: rgb(255, 255, 255, .4);
  border-radius: 50%;
  max-width: 300px;
  width: 60%;
}

.about p {
  margin: 50px;
}


/*index_contact*/

#contact {
  padding-top: 100px;
  margin-top: -100px;
}

.contact img {
  margin: 50px 0;
}

/*about*/

.aboutp img {
  border-radius: 50%;
  margin-top: 100px;
  max-height: 500px;
  max-width: 300px;
  width: 60%;
}

article {
  text-align: left;
  margin: 0 15%;
}

div[name="profile"] {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, .4);
  border-radius: 5%;
}


div[name="profile"] ul {
  display: table;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

div[name="profile"] li {
  display: table-cell;
  text-align: center;
  width: 50%;
  list-style: none;
  padding: 30px;
}

.Q {
  border-bottom: 2px dashed #abdbe1;
  border-right: 2px dashed #abdbe1;
}

.Q + li {
  border-bottom: 2px dashed #abdbe1;
}

li[name="fin"] {
  border-bottom: 2px solid #abdbe1;
}

.about img,
.contact img {
  background-color: rgb(255, 255, 255, .4);
  border-radius: 50%;
  max-width: 300px;
  width: 60%;
}

#mail {
  text-decoration: none;
  color: #494645;
}

#mail:hover {
  color: #ecce87;
}

/*スキルバー*/
.skillbar {
  position: relative;
  display: inline-block;
  margin: 10px 0;
  width: 100%;
  background: #fff;
  height: 40px;
  border-radius: 3px;
  width: 100%;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12) inset;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
}

.skillbar-bar {
  height: 30px;
  width: 0px;
  margin-top: 5px;
  border-radius: 3px;
  display: inline-block;
}

.skill-bar-percent {
  position: absolute;
  right: 2%;
  top: 0;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.4);
}

.skillbar-all .skillbar-title {
  background: #ecce87;
}

.skillbar-all .skillbar-bar {
  background: rgba(236, 206, 135, .8);
}


/*works*/

.w_top {
  width: 90%;
  margin-top: 100px;
}

.title_w {
  margin: 40px;
}

#vvvv {
  max-width: 300px;
  width: 90%;
}

/* ポップアップウインドウの設定 */
.popup {
  background-color: rgb(255, 255, 255, .4);
  box-shadow: 0 0 0 9999px rgba(171, 219, 225, .8);
  display: none;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 90%;
  height: 60%;
  /*	開いたときの画面の大きさ設定*/
  overflow-y: scroll;
}

/* チェックボックスの初期設定 */
#popup-on {
  display: none;
}

/* チェックされたらポップアップウインドウを開く */
#popup-on:checked + .popup {
  display: block;
}

#popup-on2 {
  display: none;
}

/* チェックされたらポップアップウインドウを開く */
#popup-on2:checked + .popup {
  display: block;
}

/* 閉じるアイコン（右上） */
.icon-close {
  color: #494645;
  font-size: 30px;
  padding: 0 10px;
  position: absolute;
  right: 0;
}

/* 閉じるボタン */
.btn-close {
  background: #494645;
  border-radius: 10px;
  color: #fbfbe9;
  padding: 10px;
  cursor: pointer;
  margin: 10px auto;
  width: 95%;
  text-align: center;
}

/* ポップアップの内容 */
.popup-content {
  margin: 40px auto 40px auto;
  width: 80%;
}

.contents {
  width: 100%;
}

/*contents中身の動画などの大きさを指定*/

/*footer*/

footer {
  margin-top: 100px;
}

footer img {
  margin-right: 1%;
}


/*スマホ*/

@media screen and (max-width: 479px) {
  td img {
    max-width: 100%;
  }

  td figcation p {
    font-size: 150%;
  }

  footer img {
    width: 30px;
  }

  td figcation p,
  td figcation p[name="double"] {
    padding-top: 17%;
    padding-bottom: 17%;
  }

  /*aboutのプロフィール*/
  div[name="profile"] {
    width: 100%;
    background-color: #abdbe1;
    border-radius: 0%;
  }


  div[name="profile"] ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, .4);
    margin-bottom: 40px;
  }

  div[name="profile"] li {
    width: 100%;
    list-style: none;
    position: relative;
    border-right: 2px solid #abdbe1;
  }

  .Q {
    background-color: rgba(255, 255, 255, .4);
  }

  li[name="fin"] {
    border-bottom: 2px dashed #abdbe1;
  }

  .Q + li {
    border-bottom: 2px solid #abdbe1;
  }


  /*ハンバーガーメニュー*/
  .menu_button {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 100;
    width: 84px;
    height: 80px;
    padding: 15px 30px;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
  }

  .menu_button_icon {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
  }

  .menu_button_text {
    position: absolute;
    bottom: 6px;
    left: -30px;
    font-size: 15px;
    height: 70px;
    line-height: 72px;
    letter-spacing: 2px;
    font-weight: 400;
    color: #fff;
    visibility: visible;
  }

  .menu_button_bar {
    position: absolute;
    left: 0;
    width: 26px;
    height: 2px;
    background-color: #fff;
    box-sizing: border-box;
  }

  .menu_button_bar:nth-child(1) {
    top: 0px;
  }

  .menu_button_bar:nth-child(2) {
    top: 7px;
  }

  .menu_button_bar:nth-child(3) {
    top: 14px;
  }

  /*開ける*/
  .menu_button.show .menu_button_bar {
    transition: transform .5s 0s;
    -webkit-transform: .5s 0s;
  }

  .menu_button.show .menu_button_bar:nth-child(1) {
    transform: translateY(7px) rotate(315deg);
    -webkit-transform: translateY(7px) rotate(315deg);
  }

  .menu_button.show .menu_button_bar:nth-child(2) {
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
  }

  .menu_button.show .menu_button_bar:nth-child(3) {
    transform: translateY(-7px) rotate(-315deg);
    -webkit-transform: translateY(-7px) rotate(-315deg);
  }

  .menu_button.show .menu_button_text {
    opacity: 0;
    visibility: visible;
    transition: opacity .5s 0s, visibility 0s 2s;
    -webkit-transform: opacity .5s 0s, visibility 0s 2s;
  }

  /*閉じる*/
  .menu_button.close .menu_button_bar {
    transition: transform .5s 0s;
    -webkit-transform: .5s 0s;
  }

  .menu_button.close .menu_button_bar:nth-child(1) {
    transform: translateY(0px) rotate(-0deg);
    -webkit-transform: translateY(0px) rotate(-0deg);
  }

  .menu_button.close .menu_button_bar:nth-child(2) {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
  }

  .menu_button.close .menu_button_bar:nth-child(3) {
    transform: translateY(0px) rotate(0deg);
    -webkit-transform: translateY(0px) rotate(0deg);
  }

  .menu_button.close .menu_button_text {
    transition: opacity .5s 0s, visibility 0s 2s;
    -webkit-transform: opacity .5s 0s, visibility 0s 2s;
  }

  .nav {
    position: fixed;
    top: 0%;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
    background-color: rgba(171, 219, 225, 0.6)
  }

  .nav ul {
    width: 200px;
    margin: 40% auto;
    padding: 0;
    box-sizing: border-box;
    display: block;
  }

  .nav li {
    font-size: 25px;
    padding: 2.5vh 0;
    text-align: center;
  }

  .nav.show {
    opacity: 1;
    visibility: visible;
  }

}
}
