html {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 100%;
  color: #494645;
}

body {
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: #abdbe1;
  text-align: center;
}

.fadein {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
}

h2 {
  letter-spacing: 10px;
}


/*ファーストビュー設定*/

.first_view img {
  max-width: 98vw;
}

.first_view img[name="anima"] {
  animation: animationf 9s 1;
  animation-fill-mode: forwards;
}

.first_view img[name="delay"] {
  animation: animationd 9s 1;
}

.first_view img[name="rupe"] {
  animation: animationr 10s 1;
}

@keyframes animationf {
  0% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes animationd {
  0% {
    opacity: 0;
  }

  96% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes animationr {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.first_view img:nth-of-type(1) {
  position: relative;
}

.first_view img:nth-of-type(2),
.first_view img:nth-of-type(3),
.first_view img:nth-of-type(4),
.first_view img:nth-of-type(5) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


/*ナビ設定*/

header {
  position: fixed;
  margin: auto;
  z-index: 100;
  width: 100%;
  height: 80px;
  font-size: 17pt;
}

nav li {
  position: relative;
  display: inline-block;
}

.logo {
  float: left;
}

nav li {
  letter-spacing: 10px;
  margin: 0px 50px 0px;
  color: #494645;
}

nav li::after {
  position: absolute;
  bottom: 2px;
  left: 0px;
  content: '';
  width: 95%;
  height: 2px;
  background: #fff;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform 0.3s;
}

nav li:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
  color: #494645;
}

nav ul li a:link {
  text-decoration: none;
  color: #494645;
}

nav ul li a:visited {
  color: #494645;
}

nav ul li a:hover {
  color: #fff;
}


/*index_work*/

#work {
  padding-top: 100px;
  margin-top: -100px;
}

.work {
  padding: 0% 15%;
}

td {
  position: relative;
  overflow: hidden;
  margin-top: 50px;
}

figcation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 97%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

td:hover figcation {
  opacity: 1;
}

td figcation p {
  color: #fff;
  font-size: 50px;
}

tr {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
}


/*index_about*/

#about {
  padding-top: 100px;
  margin-top: -100px;
  margin-bottom: 200px;
}

.btn-border-bottom {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0;
  text-decoration: none;
  color: #c38171;
}

.btn-border-bottom:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top: 100%;
  left: 0;
  border-radius: 3px;
  background: #c38171;
  transition: .2s;
}

.btn-border-bottom:hover:before {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}

.about img {
  background-color: #ecce87;
  border-radius: 50%;
}


/*index_contact*/

#contact {
  padding-top: 100px;
  margin-top: -100px;
}


/*about*/

.aboutp img {
  border-radius: 50%;
  margin-top: 100px;
}

article {
  text-align: left;
  margin: 0 15%;
}

table[name="arrow"] {
  width: 100%;
  border-collapse: collapse;
}

table[name="arrow"] th {
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #ecce87;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  z-index: 1;
}

table[name="arrow"] th:after {
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: calc(50% - 10px);
  right: -10px;
  border-left: 10px solid #ecce87;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

table[name="arrow"] td {
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #fff;
  padding: 10px 0;
}


/*works*/

.w_top {
  width: 60%;
  margin-top: 100px;
}


/*footer*/

footer {
  margin-top: 100px;
}


/*スマホ*/
@media screen and (max-width: 479px) {

  }
}
